<!DOCTYPE html>

<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'error')}"
>
  <body>
    <h1>Nossa história</h1>
    <p>
      A Petclinic é a maior e melhor clínica para pets do mundo, criada no
      século passado e desde então vem tratando nossos animais com excelência.
    </p>

    <h3>Missão</h3>
    <p>
      Fornecer um serviço de qualidade e com preço acessivel para toda a
      sociedade
    </p>
    <h3>Visão</h3>
    <p>Continuar sendo a melhor clínica de cuidados animais do mundo.</p>
  </body>
</html>
